#tool {
    margin: 50px auto;
    width: 500px;

    > span {
        cursor: pointer;

        &.active {
            color: #2ad;
            font-weight: bold;
        }
    }
}

#app {
    margin: 50px auto;
    width: 800px;
    height: 600px;
    border: 1px solid #ddd;
}
